
@model List<Players>

@{
    ViewData["Title"] = "Home Page";

    var years = (List<Years>)ViewData["years"];
}

<head>
     <link rel="stylesheet" href="~/css/Index/index.css">
     <script src="~/js/Index/Filter/filter.js" defer></script>
</head>

<section id="s1">
    <p id="all">All</p>
    @foreach (var year in years) {
        <p class="year-btn" style="background-color:@year.Color;" onClick="filter('@year.Year')">@year.Year's</p>
    }
</section>

<section id="s2">
    @foreach (var player in Model) {

        @if (player.Player_Id % 2 != 0) {

            <div class="card black @String.Join(' ', player.Activity)" onclick="window.location='/Home/Details/@player.Player_Id'">
                
                <img src="~/@player.Image">

                <h2>@player.Name</h2>

                <div class="dates">
                    <p>@player.YearBorn</p>
                    <p>-</p>
                    <p>@player.YearDied</p>
                </div>
                <div class="activity">
                    @foreach (var year in player.Activity) {
                        <p>@year</p>
                    }
                </div>
            </div>
        }
        else {
            <div class="card white @String.Join(' ', player.Activity)" onclick="window.location='/Home/Details/@player.Player_Id'">
                
                <img src="~/@player.Image">

                <h2>@player.Name</h2>
                
                <div class="dates">
                    <p>@player.YearBorn</p>
                    <p>-</p>
                    <p>@player.YearDied</p>
                </div>
                <div class="activity">
                    @foreach (var year in player.Activity) {
                        <p>@year</p>
                    }
                </div>
            </div>
        }

        @* foreach (var year in player.Activity) {
            <p></p>
        } *@
    }
</section>